*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Inter;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background:#FFFFFF;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    max-width:100%;
    display:block;
}



header{
    background:#0C2E71;
    padding: 20px 40px;
}
nav{
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.logo-circle{
    width:40px;
    height:40px;
    border-radius:50%;
    background: #ED6B0E;

    display: flex;
    justify-content: center;
    align-items: center;

    color:white;
    font-weight:bold;
}
.logo-text h3{
    color:white;
    font-family: Inter;
    font-size:18px;
}
.logo-text p{
    color: #d0d8ef;
    font-family: Inter;
    font-size:12px;
    padding-top: 4px;

}
.nav-links ul{
    font-family: Inter;
    display:flex;
    /* justify-content: flex-start; */
    flex-direction: row;
    align-items: flex-start;
    gap: 90px;
    padding-left:80px;
    /* font-weightpx; */
}
.nav-links a{
    color:white;
    font-size:14px;
}
.nav-links a:hover{
    color: #ED6B0E;
}
nav button{
    background: transparent;
    color:white;
    border:1px solid white;
    padding: 10px 18px;
    border-radius:5px;
    cursor:pointer;
    font-family: Inter;
    /* padding-left: px; */
    margin-left: 800px;
}



.hero{
    padding: 80px 100px 5px;
    background: #EFF6FE;
    margin-bottom: -55px;
}
.hero-main{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.hero-content{
    width: 50%;
}
.breadcrumb{
    font-size:15px;
    color:#4A4954;
    margin-bottom:20px;
    font-family: Inter;
}
.hero-content h1{
    font-size: 64px;
    line-height: 1.1;
    color:#0C2E71;
}
.hero-content h1 span{
    display:block;
    color: #ED6B0E;
}
.hc-para{
    margin-top: 20px;
    font-size: 18px;
    color: #4A4954;
    /* width: 60%; */
}
.hero-buttons button{
    margin-top:25px;
    background: #ED6B0E;
    color: white;
    border:none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 600;
}
.hero-image{
    width: 40%;
}
.hero-image img{
    width: 100%;
}


.stats{
    background: #0E234F;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin:40px auto 0;
    margin-top: 10px;
    /* width: 85%; */
}
.stat-card{
    flex: 1;
    text-align: center;
    border-right: 1px solid #334D80;
    /* margin-top: -10px; */
}
.stat-card:last-child{
    border-right:none;
}
.stat-card h2{
    color:#ED6B0E ;
    font-size: 32px;
}
.stat-card p{
    color: #DCE7FC;
    font-size: 14px;
}



.working{
    padding: 80px 100px;
    text-align: center;
}
.section-heading h2{
    font-size: 31px;
    color: #181A20;
}
.section-heading p{
    margin-top: 10px;
    color:#606674;
}
.steps{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
.step-card{
    background:#FFFFFF;
    padding: 30px;
    border-radius:12px;
    box-shadow:0 2px 10px #D9DEEA;
    text-align: left;
    height: 184px;
    margin-top: -30px;
    /* color:#606674; */
    /* padding-top: px; */
}
.step-card h3{
    padding-top: 15px;
    color:#181A20;
    font-size: 17px;
}
.step-card p{
    color:#606674;
    font-size: 14px;
    padding-top: 10px;
}
.step-card span{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
}
#sc1{
    background: #DCE7FC;
    color:#1E4ABA;
}
#sc2{
    background: #FEEEE1;
    color:#ED6B0E;
}
#sc3{
    background: #E1F7ED;
    color:#11995C;
}
#sc4{
    background: #DCE7FC;
    color:#0C2E71;
}
.info-banner{
    background:#0C2E71 ;
    margin-top:-40px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1440;
    height: 140;
    top: 952px;
    angle: 0 deg;
    opacity: 1; */

}
.info-content h2{
    color:#FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-style: Bold;
    font-size: 18px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    /* margin-bottom: */
    padding-bottom: 40px;
    padding-left: 80px;
    margin-top: -25px;
    /* padding-top: -50px; */
}
.info-content p{
    color:#DCE7FC;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    /* padding-top:px; */
     padding-left: 85px;
     margin-top: -25px;
}
.apply-btn{
    color:#FFFFFF;
    margin-top:25px;
    background: #ED6B0E;
    color: white;
    border:none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-family: Inter;
    font-weight: 600;
    margin-top: 1px;
}
.faq{
    width: 1440;
    height: 660;
    top: 1092px;
    background:#FFFFFF;
    /* display: grid; */

}
.faq h2{
   font-family: Inter;
    font-weight: 700;
    /* font-style: Bold; */
    font-size: 30px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#181A20;
    padding-top: 30px;
    
}
.faq p{
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#606674;
    margin-top: 15px;
}
.faq-grid{
    /* margin-top: px; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;

    gap:25px;
}
.faq-card{
    /* width: ;
    height: 144;
    top: 144px;
    left: 80px; */
    /* angle: 0 deg; */
    /* opacity: 1; */
    padding: 45px ;
    padding-bottom: 20px;
    min-height: 100px;
    border-radius: 10px;
    /* border-width: 1px; */
    background:#F4F6FA;
    /* border-color: #D9DEEA; */
    border: 1px solid #D9DEEA;
    /* border-left: 5px solid #1E4ABA; */
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 50px;
    
}
.faq-card-left-border{
     border-left: 5px solid #1E4ABA;
     /* padding-left: 15px; */
     margin-left:-25px;
     margin-top: -20px;
     padding: 40px 40px;


}
.faq-card h3{
    color:#181A20;
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom:15px;
    margin-top: -39px;
    margin-left:-25px;
}
.faq-card p{
    color:#606674;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 13px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
     margin-left:-25px;
}
footer{
    background:#0C2E71;
    /* padding: 50px 100px 20px; */
    margin-top: 40px;
}
.footer-content{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap:300px;
    padding: 50px 100px 20px; 
  
}
.footer-text h3{
    color:#FFFFFF;
    font-family: Inter;
    font-weight: 650;
    /* font-style: Bold; */
    font-size: 16px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 20px;
}
.footer-text p{
    color:#DCE7FC;
    font-family: Inter;
    font-weight: 400;
    /* font-style: Regular; */
    font-size: 12px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 10px;
    margin-left: 20px;
}
.footer-text #p2{
    margin-top: 5px;
}
.footer-column{
    color:#DCE7FC;
    font-family: Inter;
    font-weight: 400;
    /* font-style: Regular; */
    font-size: 13px;
    /* leading-trim: NONE; */
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;


}
.footer-column ul{
    display: flex;
    /* justify-content: flex-start; */
    
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    /* margin-left: 10px; */

}
.footer-column  a{
    color:#DCE7FC;
    font-size:14px;
}
.footer-column  a:hover{
    color: #ED6B0E;
}
.footer-bottom{
    width:100% ;
    border-top:1px solid #334D80;
    padding:10px 0;
    margin-top:20px
}
.footer-bottom p{
    color: #A0A5B3;
    text-align: center;
    font-size: 14px;
}
 